## Python et les dates
### Le module Time

In [1]:
# time.time()

import time
current_time = time.time()
print(current_time)

1548413106.889612

In [2]:
# time.gmtime()

current_struct_time = time.gmtime()
print(current_struct_time)

time.struct_time(tm_year=2019, tm_mon=1, tm_mday=25, tm_hour=10, tm_min=46, tm_sec=19, tm_wday=4, tm_yday=25, tm_isdst=0)

In [3]:
current_hour = current_struct_time.tm_hour
print(f"l'heure est {current_hour}")
print(f"l'année est {current_struct_time.tm_year}")

l'heure est 10
l'année est 2019

### Le module datetime

In [5]:
# datetime.now()

import datetime as dt

current_datetime = dt.datetime.now()
print(current_datetime)

2019-01-25 11:52:38.737419

In [6]:
current_year = current_datetime.year
current_month = current_datetime.month
current_day = current_datetime.day
print(f" {current_day}/{current_month}/{current_year} ")

 25/1/2019

### La classe Timedelta (du module datetime)

In [7]:
today = dt.datetime.now()
diff = dt.timedelta(weeks=1, days=5)
print(f"aujourd'hui {today}")
print(f"diff = {diff}")

aujourd'hui 2019-01-25 11:59:35.165366
diff = 12 days, 0:00:00

In [8]:
print(f"dans une semaine et 5 jours nous serons le {today + diff}")

2019-02-06 11:59:35.165366

In [9]:
tomorrow = today + dt.timedelta(days = 1)
print(f"demain: {tomorrow}")

demain: 2019-01-26 11:59:35.165366

In [10]:
print(f"hier {today - dt.timedelta(days = 1)}")

hier 2019-01-24 11:59:35.165366

### Formater nos dates

In [11]:
today

datetime.datetime(2019, 1, 25, 11, 59, 35, 165366)

In [13]:
# datetime.strftime(chaîne de formatage)

string_today = today.strftime("%b %d %Y")
string_today

'Jan 25 2019'

In [15]:
# datetime.strptime(chaîne) est l'équivalent de strftime mais sur une chaîne, renvoir une structure time à
# partir d'une chaîne et d'une chaîne de formatage

today_struct = time.strptime(string_today, "%b %d %Y")
today_struct

time.struct_time(tm_year=2019, tm_mon=1, tm_mday=25, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=4, tm_yday=25, tm_isdst=-1)

### Les dates sur notre dataset

In [17]:
import csv

f = open('askreddit-2015.csv', 'r', encoding='utf_8')
posts = list(csv.reader(f))
posts = posts[1:]

posts[:5]

[['What\'s your internet "white whale", something you\'ve been searching for years to find with no luck?',
  '11510',
  '1433213314.0',
  '1',
  '26195'],
 ["What's your favorite video that is 10 seconds or less?",
  '8656',
  '1434205517.0',
  '4',
  '8479'],
 ['What are some interesting tests you can take to find out about yourself?',
  '8480',
  '1443409636.0',
  '1',
  '4055'],
 ["PhD's of Reddit. What is a dumbed down summary of your thesis?",
  '7927',
  '1440188623.0',
  '0',
  '13201'],
 ['What is cool to be good at, yet uncool to be REALLY good at?',
  '7711',
  '1440082910.0',
  '0',
  '20325']]

In [21]:
# datetime.fromtimestamp()
 print(f"temps en second Unix: {posts[0][2]}")
 print(f"date: {dt.datetime.fromtimestamp(float(posts[0][2]))}")

temps en second Unix: 1433213314.0
date: 2015-06-02 04:48:34

In [22]:
for post in posts:
    time = post[2]
    post[2] = dt.datetime.fromtimestamp(float(time))
    
print(posts[:5])

[['What\'s your internet "white whale", something you\'ve been searching for years to find with no luck?', '11510', datetime.datetime(2015, 6, 2, 4, 48, 34), '1', '26195'], ["What's your favorite video that is 10 seconds or less?", '8656', datetime.datetime(2015, 6, 13, 16, 25, 17), '4', '8479'], ['What are some interesting tests you can take to find out about yourself?', '8480', datetime.datetime(2015, 9, 28, 5, 7, 16), '1', '4055'], ["PhD's of Reddit. What is a dumbed down summary of your thesis?", '7927', datetime.datetime(2015, 8, 21, 22, 23, 43), '0', '13201'], ['What is cool to be good at, yet uncool to be REALLY good at?', '7711', datetime.datetime(2015, 8, 20, 17, 1, 50), '0', '20325']]

### Comptons les posts publiés au mois de mai

In [24]:
may_count = 0
for post in posts:
    date_time = post[2]
    if date_time.month == 5:
        may_count += 1

print(f"le nombre de posts publiés en mai est {may_count}")

le nombre de posts publiés en mai est 75

### Comptons les posts publiés n'importe quel mois

In [25]:
def number_posts_per_month(mois):
    month_count = 0
    for post in posts:
        date_time = post[2]
        if date_time.month == mois:
            month_count += 1
    return(month_count)

print(f"le nombre de posts publiés en mai est {number_posts_per_month(5)}")

le nombre de posts publiés en mai est 75

In [33]:
for i in range(1,13):
    print(f"le nombre de posts publiés en {dt.date(1900, i, 1).strftime('%b')} est {number_posts_per_month(i)}")

le nombre de posts publiés en Jan est 52
le nombre de posts publiés en Feb est 46
le nombre de posts publiés en Mar est 59
le nombre de posts publiés en Apr est 58
le nombre de posts publiés en May est 75
le nombre de posts publiés en Jun est 74
le nombre de posts publiés en Jul est 77
le nombre de posts publiés en Aug est 94
le nombre de posts publiés en Sep est 69
le nombre de posts publiés en Oct est 78
le nombre de posts publiés en Nov est 96
le nombre de posts publiés en Dec est 89