## Projet Final

In [33]:
import csv

f = open('guns.csv', 'r', encoding='utf-8')
csvreader = csv.reader(f)
data = list(csvreader)

print(data[:5])

[['', 'year', 'month', 'intent', 'police', 'sex', 'age', 'race', 'hispanic', 'place', 'education'], ['1', '2012', '01', 'Suicide', '0', 'M', '34', 'Asian/Pacific Islander', '100', 'Home', '4'], ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'], ['3', '2012', '01', 'Suicide', '0', 'M', '60', 'White', '100', 'Other specified', '4'], ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4']]

### suppression de l'en-tête

In [4]:
headers = data[:1]
data =  data[1:]

print(headers)

[['', 'year', 'month', 'intent', 'police', 'sex', 'age', 'race', 'hispanic', 'place', 'education']]

In [5]:
print(data[:5])

[['1', '2012', '01', 'Suicide', '0', 'M', '34', 'Asian/Pacific Islander', '100', 'Home', '4'], ['2', '2012', '01', 'Suicide', '0', 'F', '21', 'White', '100', 'Street', '3'], ['3', '2012', '01', 'Suicide', '0', 'M', '60', 'White', '100', 'Other specified', '4'], ['4', '2012', '02', 'Suicide', '0', 'M', '64', 'White', '100', 'Home', '4'], ['5', '2012', '02', 'Suicide', '0', 'M', '31', 'White', '100', 'Other specified', '2']]

### Compter le nombre de décès par arme à feu aux USA par année (entre 2012 et 2014)

In [7]:
years = [row[1] for row in data]

print(years[:5])

years_count = {}
for year in years:
    if year in years_count:
        years_count[year] += 1
    else:
        years_count[year] = 1
        
print(years_count)

['2012', '2012', '2012', '2012', '2012']
{'2012': 33563, '2013': 33636, '2014': 33599}

### Explorer les décès par armes à feu par mois et par année

In [10]:
import datetime

dates = [datetime.datetime(year = int(row[1]), month = int(row[2]), day = 1) for row in data]
print(dates[:5])

dates_counts = {}
for date in dates:
    if date not in dates_counts:
        dates_counts[date] = 0
    dates_counts[date] += 1
        
dates_counts

[datetime.datetime(2012, 1, 1, 0, 0), datetime.datetime(2012, 1, 1, 0, 0), datetime.datetime(2012, 1, 1, 0, 0), datetime.datetime(2012, 2, 1, 0, 0), datetime.datetime(2012, 2, 1, 0, 0)]

{datetime.datetime(2012, 1, 1, 0, 0): 2758,
 datetime.datetime(2012, 2, 1, 0, 0): 2357,
 datetime.datetime(2012, 3, 1, 0, 0): 2743,
 datetime.datetime(2012, 4, 1, 0, 0): 2795,
 datetime.datetime(2012, 5, 1, 0, 0): 2999,
 datetime.datetime(2012, 6, 1, 0, 0): 2826,
 datetime.datetime(2012, 7, 1, 0, 0): 3026,
 datetime.datetime(2012, 8, 1, 0, 0): 2954,
 datetime.datetime(2012, 9, 1, 0, 0): 2852,
 datetime.datetime(2012, 10, 1, 0, 0): 2733,
 datetime.datetime(2012, 11, 1, 0, 0): 2729,
 datetime.datetime(2012, 12, 1, 0, 0): 2791,
 datetime.datetime(2013, 1, 1, 0, 0): 2864,
 datetime.datetime(2013, 2, 1, 0, 0): 2375,
 datetime.datetime(2013, 3, 1, 0, 0): 2862,
 datetime.datetime(2013, 4, 1, 0, 0): 2798,
 datetime.datetime(2013, 5, 1, 0, 0): 2806,
 datetime.datetime(2013, 6, 1, 0, 0): 2920,
 datetime.datetime(2013, 7, 1, 0, 0): 3079,
 datetime.datetime(2013, 8, 1, 0, 0): 2859,
 datetime.datetime(2013, 9, 1, 0, 0): 2742,
 datetime.datetime(2013, 10, 1, 0, 0): 2808,
 datetime.datetime(2013, 11, 1, 0, 0): 2758,
 datetime.datetime(2013, 12, 1, 0, 0): 2765,
 datetime.datetime(2014, 1, 1, 0, 0): 2651,
 datetime.datetime(2014, 2, 1, 0, 0): 2361,
 datetime.datetime(2014, 3, 1, 0, 0): 2684,
 datetime.datetime(2014, 4, 1, 0, 0): 2862,
 datetime.datetime(2014, 5, 1, 0, 0): 2864,
 datetime.datetime(2014, 6, 1, 0, 0): 2931,
 datetime.datetime(2014, 7, 1, 0, 0): 2884,
 datetime.datetime(2014, 8, 1, 0, 0): 2970,
 datetime.datetime(2014, 9, 1, 0, 0): 2914,
 datetime.datetime(2014, 10, 1, 0, 0): 2865,
 datetime.datetime(2014, 11, 1, 0, 0): 2756,
 datetime.datetime(2014, 12, 1, 0, 0): 2857}

### Explorer les décès par armes à feu par origine et par sexe

In [14]:
sex_counts = {}
race_counts = {}

for row in data:
    sex = row[5]
    race = row[7]
    if sex not in sex_counts:
        sex_counts[sex] = 0
    sex_counts[sex] += 1
    if race not in race_counts:
        race_counts[race] = 0
    race_counts[race] += 1
    
print(sex_counts)

print('-' * 100)
print(race_counts)

{'M': 86349, 'F': 14449}
----------------------------------------------------------------------------------------------------
{'Asian/Pacific Islander': 1326, 'White': 66237, 'Native American/Native Alaskan': 917, 'Black': 23296, 'Hispanic': 9022}

### Dataset Population

In [17]:
with open('census.csv') as f:
    reader = csv.reader(f)
    census = list(reader)
    
census

[['Id',
  'Year',
  'Id',
  'Sex',
  'Id',
  'Hispanic Origin',
  'Id',
  'Id2',
  'Geography',
  'Total',
  'Race Alone - White',
  'Race Alone - Hispanic',
  'Race Alone - Black or African American',
  'Race Alone - American Indian and Alaska Native',
  'Race Alone - Asian',
  'Race Alone - Native Hawaiian and Other Pacific Islander',
  'Two or More Races'],
 ['cen42010',
  'April 1, 2010 Census',
  'totsex',
  'Both Sexes',
  'tothisp',
  'Total',
  '0100000US',
  '',
  'United States',
  '308745538',
  '197318956',
  '44618105',
  '40250635',
  '3739506',
  '15159516',
  '674625',
  '6984195']]

### Ratio de décès par armes à feu en fonction de l'origine

In [18]:
race_counts

{'Asian/Pacific Islander': 1326,
 'White': 66237,
 'Native American/Native Alaskan': 917,
 'Black': 23296,
 'Hispanic': 9022}

In [27]:
mapping = {
    'Asian/Pacific Islander': int(census[1][-2]) + int(census[1][-3]),
 'White': int(census[1][10]),
 'Native American/Native Alaskan': int(census[1][13]),
 'Black': int(census[1][12]),
 'Hispanic': int(census[1][11])}

mapping

{'Asian/Pacific Islander': 15834141,
 'White': 197318956,
 'Native American/Native Alaskan': 3739506,
 'Black': 40250635,
 'Hispanic': 44618105}

In [39]:
ratio = {}
for race in race_counts:
    ratio[race] = (race_counts[race] / mapping[race]) * 100000
    
ratio

{'Asian/Pacific Islander': 8.374309664161762,
 'White': 33.56849303419181,
 'Native American/Native Alaskan': 24.521955573811088,
 'Black': 57.8773477735196,
 'Hispanic': 20.220491210910907}

In [29]:
# Solution de Rod avec items()

ratio = {}
for k, v in race_counts.items():
    ratio[k] = ( v / mapping[k]) * 100000
    
ratio

{'Asian/Pacific Islander': 8.374309664161762,
 'White': 33.56849303419181,
 'Native American/Native Alaskan': 24.521955573811088,
 'Black': 57.8773477735196,
 'Hispanic': 20.220491210910907}

### Filtrer par homicide

In [37]:
intents = [row[3] for row in data]
races = [row[7] for row in data]

homicide_counts = {}

for i, race in enumerate(races):
    if intents[i] == 'Homicide':
        if race not in homicide_counts:
            homicide_counts[race] = 0
        homicide_counts[race] += 1
    
homicide_counts

{'White': 9147,
 'Asian/Pacific Islander': 559,
 'Black': 19510,
 'Native American/Native Alaskan': 326,
 'Hispanic': 5634}

In [38]:
homicide_ratio = {}
for k, v in homicide_counts.items():
    homicide_ratio[k] = (v / mapping[k]) * 100000
    
homicide_ratio

{'White': 4.6356417981453335,
 'Asian/Pacific Islander': 3.530346230970155,
 'Black': 48.471284987180944,
 'Native American/Native Alaskan': 8.717729026240365,
 'Hispanic': 12.627161104219914}